---
layout: default
title: Wpisy
---

<h2>Kategorie</h2>
{% for category in site.categories %}
    <h3 class="category-header"><b>{{category | first}}</b></h3>
        {% for post in category[1] limit:3 %}
        <span class="post-item">{{ post.date | date: '%Y-%m-%d' }} >> <a href="{{ post.url }}">{{ post.title }}</a></span>
        {% endfor %}
<div class="category-all-nav">
    <h4>zobacz wszystkie wpisy z kategorii {{category | first}} ({{category[1] | size}}) <a href="/kategoria/{{category | first | downcase }}/">&gt;&gt;</a></h4>
</div>
{% endfor %}
